/* Global css */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

*{
    padding:0px;
    margin:0px;
}


body{
    font-family: 'Work Sans';
}
:root{
    --global-bg:rgba(255, 144, 14, 0.1);
    --primary-color:#FF900E;
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
    
}
.section-title{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.section-des{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding:30px 0px;
}
.banner-des{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding:30px 0px;
}
.primary-btn{
    padding:20px 25px;
    background-color:var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    border:0px;
}
img{
    width:100%;
}

/* Header + Banner */
header{
    padding:40px 0px;
    background-color:var(--global-bg);
}
nav{
    max-width:1480px;
    width:100%;
    margin:0px auto;
}
.menu ul{
    display:flex;
    align-items: center;
    gap:80px;
}
.menu ul li{
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;

}
.banner-text{
    width:100%;
    max-width:860px;
    padding:100px 20px 50px 20px;
    margin: 0px auto;
    text-align: center;
}
.banner-title{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.banner-img{
    text-align: center;
    width:100%;
    max-width: 1440px;
    margin: 0px auto;
}

/* Feature-top */
.features-top{
    width:100%;
    max-width: 1360px;
    margin: 0px auto;
    padding: 100px 0px;
    
}
.features-container{
    padding:0px 20px;
    display:flex;
    gap:70px;
    align-items: center;
}
.feature-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
    width:58%;
}
.feature-text{
    width:42%;
   
}
.feature-title{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    padding:0px 20px 0px 0px;
}
/* feature bottom css */
.feature-bottom{
    width:100%;
    max-width:1480px;
    margin: 0px auto;
}
.feature-bottom-container{
    display:flex;
    gap:140px;
    padding:0px 20px;
    align-items: center;
}

.feature-list{
    width:45%;
}
.feature-list h2{
    width:72%;
    border-left:5px solid var(--primary-color);
    padding-left:20px;
}
.feature-img{
    width:55%;
}
.feature-list-box{
    padding:30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-list-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.feature-list-box p{
    padding:10px 0 0 0;
}
.button-relative{
background:var(--primary-color);
text-align: center;
max-width:342px;
width:100%;
padding:40px 45px;
border-radius: 8px;
position: relative;
top:-127px;
left:-92px;
}
.button-relative h2{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}
.button-relative p{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    
}
/* some facts css */
.some-facts{
    width:100%;
    max-width:1480px;
    margin: auto;
}
.some-facts-text{
    width:40%;
}
.some-facts-boxes{
    padding:100px 60px;
    gap:115px;
   
}
.some-facts-box{
    text-align: center;
    padding:45px 35px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    transition: .5s;
}
.some-facts-box:hover{
transform: scale(1.2);
background-color: var(--primary-color);
}
.some-facts-box img{
    width:45px;
    height:45px;
}
.some-facts-box-title{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    padding:10px 0px 5px 0px;
}
.some-facts-box-des{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;

}
/* sponsors css */
.sponsors{
    width:1480px;
    max-width: 100%;
    margin:auto;
}
.sponsors-text{
    max-width: 542px;
    width:100%;
    text-align: center;
    margin:auto;
    padding:50px 0px;
}
/* footer css */
footer{
    width:100%;
    max-width: 1440px;
    margin:0px auto;
}
.footer-container{
    background-color: var(--global-bg);
    padding:40px 20px;
    margin: 120px 0px;
    border-radius: 8px;
}
.footer-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #424242;

}
/* newsletter css */
.newsletter-signup{
    width:100%;
    max-width: 1440px;
    margin:0px auto;
}
.newsletter-container{
    background-color: var(--primary-color);
    padding:40px 50px;
    margin: 120px 0px;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter-text{
    width:65%;
    
}
.newsletter-text .section-title{
    color:white;
}
.newsletter-form{
    width:35%;
    padding-left:40px;
    border-left:1px solid white;
}
.newsletter-form-subtitle{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
    padding-bottom:15px;
}
.email-input{
    width:250px;
    padding:12px 20px;
    border-radius:5px;
    font-size: 18px;
    border: none;
    margin-top: 10px;

}
.email-input:focus{
    outline:#FF900E;
}
.submit-input{
   padding:12px 30px; 
   font-size: 18px;
   border-radius: 5px;
   border: none;
   color: var(--primary-color);
   font-weight: 700;
   margin-top: 10px;
}




/* Media Queries */
/* Mobile Responsive css */
@media screen and (max-width:576px){
    /* global css */
.container{
flex-direction: column;
gap:30px;
padding:0px 20px;
}

.banner-des{
    padding-left:20px;
    padding-right: 20px;
}

.primary-btn{
    padding:12px 18px;
    font-size: 16px;
}
.section-title{
    font-size:32px;
}
/* header+banner */
.menu ul{
    flex-direction: column;
    gap:20px;
}
.banner-text{
    padding:80px 0px 40px 0px;
    width:100%;
}
.banner-title{
    font-size:42px;
    padding: 0px 20px;
}
.banner-img img{
    
   width:90%;
}
/* feature-top */
.feature-gallery{
    grid-template-columns: 1fr;
    width:100%;
    justify-items: center;
}
.features-container{
    flex-direction: column;
    
}
.feature-text{
    width:100%;
}
.feature-text p{
    padding:20px 0px;
}
.feature-title{
    font-size: 32px;
}
/* Feature bottom */
.feature-bottom-container{
    flex-direction: column;
    gap:50px;
   
}
.button-relative{
    max-width:250px;
    width:100%;
    top:-127px;
    left:15px;
    padding:30px 20px;
}
.feature-list{
    width:100%;
}
.feature-list h2{
    width:90%;
    font-size: 32px;
   
}
.feature-img{
    width:100%;
}
.button-relative h2{
    font-size: 40px;
}
.button-relative p{
    font-size: 20px;
}
/* some facts css */
.some-facts-text{
    width:100%;
}
.some-facts-boxes{
    padding:80px 0px;
}
.some-facts-box{
   width:200px; 
   margin-bottom:20px;
}
/* footer css */
footer{
    width:95%;
    margin: 120px auto;
}

/* Newsletter-signup */
.newsletter-container{
    flex-direction: column;
}
.newsletter-signup{
    width:90%;
    margin:100px auto; 
}
.newsletter-text{
    width:100%;
    padding-bottom:10px;
    
}
.newsletter-form{
    width:100%;
    padding:10px 0px;
    border-top:1px solid white;
    border-left: 0px;
}
.email-input{
    width:82%;
}
.submit-input{
    width:100%;
}
}

/* Responsive for Medium Devices */
@media screen and (min-width:577px) and (max-width:1020px){
    /* Global Css */
    .container{
        flex-direction: column;
        gap:30px;
        padding:0px 20px;
        }
    
    .banner-des{
        padding-left:20px;
        padding-right: 20px;
    }
    
    /*header+banner  */
    .banner-text{
        padding:80px 0px 40px 0px;
        width:100%;
    }
    .banner-title{
        font-size:50px;
        padding: 0px 20px;
    }
    .banner-img img{
    
        width:90%;
     }
    /* feature top */
    .feature-gallery{
        width:100%;
        justify-items: center;
    }
    .features-container{
        flex-direction: column;
        
    }
    .feature-text{
        width:100%;
    }
    /* feature-bottom */
    .feature-bottom-container{
        flex-direction: column;
        gap:50px;
       
    }
    .button-relative{
        max-width:250px;
        width:100%;
        top:-127px;
        left:10%;
    }
    .feature-list{
        width:100%;
    }
    .feature-list h2{
        width:90%;
       
    }
    .feature-img{
        width:100%;
    }
/* some-facts */
.some-facts-text{
    width:100%;
}
.some-facts-boxes{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:60px;
}
.some-facts-box{
    width:250px; 
    margin-bottom:20px;
 }
/* Sponsors */
.sponsors .container.container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* footer css */
footer{
    width:95%;
    margin: 120px auto;
}
/* Newsletter css */
.newsletter-container{
    flex-direction: column;
}
.newsletter-signup{
    width:90%;
    margin:100px auto; 
}
.newsletter-text{
    width:100%;
    padding-bottom:10px;
    
}
.newsletter-form{
    width:100%;
    padding:10px 0px;
    border-top:1px solid white;
    border-left: 0px;
}

    }
    